<div ng-controller="GameController as gameCtrl">
  <div>{{ 'PAIRS_LEFT' | translate:{num: gameCtrl.game.unmatchedPairs} }}</div>
  <br/>
  <table>
    <tr ng-repeat="row in gameCtrl.game.grid">
      <td ng-repeat="tile in row" class="container">
        <div class="card" ng-class="{flipped: tile.flipped}" ng-click="gameCtrl.game.flipTile(tile)">
            <img class="front" relative-src="images/back.png">
            <img class="back" relative-src="images/{{tile.title}}.png">
        </div>
      </td>
    </tr>
  </table>

  <div class="message">{{gameCtrl.game.message | translate}}</div>
</div>
